
# lightroom
^https:\/\/photos\.adobe\.io\/v2\/accounts* url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/lightroom.js

# phothop&PSexpress
^https:\/\/lcs-mobile-cops\.adobe\.io\/mobile_profile url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/photoshop.js

hostname = photos.adobe.io, lcs-mobile-cops.adobe.io, *.adobe.*

