
^https:\/\/api\.revenuecat\.com\/.+\/(receipts|subscribers\/(\$RCAnonymousID%)?([\u4E00-\u9FA5A-Za-z0-9-_]+))$ url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/revenuecat.js
^https:\/\/api\.revenuecat\.com\/.+\/(receipts|subscribers\/(\$RCAnonymousID%)?([\u4E00-\u9FA5A-Za-z0-9-_]+)) url script-request-header https://raw.githubusercontent.com/zalmanwen/Red/master/js/bytq.js
https:\/\/buy\.itunes\.apple\.com\/verifyReceipt url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/verifyReceipt.js

hostname = api.revenuecat.com, buy.itunes.apple.com
