
^https:\/\/user-kaji-api\.b612kaji\.com\/v1\/purchase\/subscription\/subscriber\/status url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/bj.js

hostname = user-kaji-api.b612kaji.com
