
^https?://api\.revenuecat\.com/v\d/(subscribers/(\$RCAnonymousID\%)?(\w)+|receipts)$ url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/Unlock.js

hostname = api.revenuecat.com
