
^https?:\/\/api\.revenuecat\.com\/v1\/(receipts|subscribers\/\$RCAnonymousID%3A\w{32})$ url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/fileball.js

hostname = api.revenuecat.com
