
^https?:\/\/api\.revenuecat\.com\/v\d\/(subscribers/\$RCAnonymousID\%(\w)+|receipts)$ url echo-response text/Json echo-response https://raw.githubusercontent.com/zalmanwen/Red/master/js/Fileball.js

hostname = api.revenuecat.com
