
^https?:\/\/api\.account\.meitu\.com\/(common\/check_device_login_pwd|users\/show_current\.json) url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/MeiYanXiangJi.js
^https?:\/\/api\.meiyan\.com\/vip\/(user_center\.json|user_info\.json) url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/MeiYanXiangJi.js

hostname = api.account.meitu.com, api.meiyan.com
