
^https?:\/\/m(p|ini-hk)\.bybutter\.com\/mood\/(official-templates|privileges) url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/NiChi.js

hostname = m*.bybutter.com

