
# PDF—Expert
^https:\/\/license\.pdfexpert\.com\/api\/2\.0\/pdfexpert6\/subscription\/refresh url script-request-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/PDFExpert.js

# Documents
^https:\/\/license\.pdfexpert\.com\/api\/2\.0\/documents\/subscription\/refresh url script-request-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/documents.js

hostname = license.pdfexpert.com

