
^https:\/\/api\.(picsart|meiease)\.c(n|om)\/users\/show\/me\.json url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/PicsArt.js

hostname = api.picsart.c*, api.meiease.c*