
^https:\/\/api\.polaxiong\.com\/v1\/payments\/appleiap\/receipts\/confirmation url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/Polarr.js

hostname = api.polaxiong.com