
^https:\/\/spclient\.wg\.spotify\.com\/(bootstrap\/v1\/bootstrap|user-customization-service\/v1\/customize)$ url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/Spotify.js

hostname = spclient.wg.spotify.com