
^https:\/\/(api\.revenuecat\.com\/v\d\/subscribers|vsco\.co\/api\/subscriptions\/\d\.\d\/user-subscriptions)\/ url script-response-body https://raw.githubusercontent.com/zalmanwen/Red/master/js/vsco.js

hostname = vsco.co, api.revenuecat.com